#breadcrumb {
  color: white;
  height: $title-bar-height;
  line-height: $title-bar-height;
  margin: 0;

  li + li:before {
    content: "";
    display: inline-block;
    margin-right: 12px;
    @extend %arrow-right;
  }

  a {
    color: white;
    border-bottom: 1px solid $link-hover-color;
    &:hover, &:focus {
      color: $link-hover-color;
      text-decoration: none;
    }
  }

  @media (max-width: $screen-sm) { display: none; }
}