#carousel {
  h1, h2 {
    color: $link-hover-color;
    font-family: $font-family-sans-serif-title;
  }

  h1 {
    color: white;
    position: absolute;
    width: 100%;
    @include adjust-font-size-to($carousel_h1_size);
  }

  h2 {
    @include adjust-font-size-to($carousel_h2_size);
  }

  .carousel-control {
    color: $carousel-primary-color;
    &:hover, &:focus {
      color: $link-hover-color;
    }
  }

  .carousel-indicators {
    li {
      background-color: $carousel-primary-color;
      border-color: darken($carousel-primary-color, 5%);
      height: 5px;
      margin: 0;
      width: 20px;
      @include border-radius(0);
    }
    .active {
      background-color: $link-hover-color;
      border-color: darken($link-hover-color, 5%);
    }
  }

  @include navigation-arrow(left);
  @include navigation-arrow(right);
}