#footer-logo {
  $padding: 24px;
  padding-top: $padding;
  padding-bottom: $padding;

  .icon-container {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    overflow: hidden;

    $animation: spin $icon-spinning-timing linear infinite;
    -webkit-animation: $animation;
       -moz-animation: $animation;
            animation: $animation;
  }
}