#title-bar {
  background-color: $brand-primary;
  height: $title-bar-height;

  h1 {
    @include adjust-font-size-to($title-bar-h1-size);
    color: $link-hover-color;
    font-family: $font-family-sans-serif-title;
    font-weight: normal;
    line-height: $title-bar-height;
    margin: 0;
  }
}