<div class="item <%= banner_counter == 0 ? 'active' : ''%>">
  <%= image_fu(banner.image, '1920x450#c') %>
  <div class="container">
    <div class="carousel-caption">
      <h2><%= banner.title %></h2>
      <%= banner.description.html_safe %>
      <% if banner.url.length > 0 %>
        <p><%= link_to t("learn_more"), banner.url, :class => "btn btn-lg btn-default", :role => "button" %></p>
      <% end %>
    </div>
  </div>
</div>