<% if @page.present? && @page.view_template == "home" %>

  <section id="carousel" class="carousel slide visible-lg visible-md" data-ride="carousel">
    <h1 class="text-center"><%= t("follow_your_bliss_highlights") %></h1>

    <% banner_collection = nil %>
    <% carousel_id = "#carousel" %>

    <% if @page.present? and @page.banners.published.present? %>
      <% banner_collection = @page.banners.published %>
    <% elsif @banners.present? then %>
      <% banner_collection = @banners %>
    <% end %>

    <% if banner_collection != nil %>
      <!-- Indicators -->
      <%= content_tag :ol, :class => "carousel-indicators" do %>
        <% (0..banner_collection.length-1).each do |i| %>
          <%= content_tag :li, "", :class => (i == 0 ? "active" : ""), :data => { :target => carousel_id, :"slide-to" => i } %>
        <% end %>
      <% end %>

      <!-- Carousel items -->
      <div class="carousel-inner">
        <%= render :partial => 'refinery/banners/banner', :collection => banner_collection %>
      </div>

      <!-- Carousel controls -->
      <%= link_to carousel_id, :class => "left carousel-control", :role => "button", :data => { :slide => "prev" } do %>
        <span class="icon-decima icon-decima-large-arrow-left"></span>
      <% end %>
      <%= link_to carousel_id, :class => "right carousel-control", :role => "button", :data => { :slide => "next" } do %>
        <span class="icon-decima icon-decima-large-arrow-right"></span>
      <% end %>
    <% end %>

  </section>

<% end %>