#blog-sidebar {
  text-transform: capitalize;

  h2 {
    text-transform: uppercase;
    margin-top: $blog-h2-top-margin;
    @include adjust-font-size-to($font-size-h3);
  }

  h2:first { margin-top: $blog-h2-top-margin/2; }

  a {
    color: $text-color;
    &:hover, &:focus {
      color: $link-hover-color-alt;
      text-decoration: none;
    }
  }

  ul {
    padding-left: 0;
    @include no-bullets;
    li {
      border-bottom: 1px solid $gray-lighter;
      padding: 10px 0;
    }
  }

  .selected, .selected a {
    color: $link-hover-color-alt;
  }

  // Categories
  .category-count { padding-right: 5px; }
  .recent_post_details {
    display: block;
    @include adjust-font-size-to($blog-details-font-size);
  }

  // Tags
  .tag1 { font-size: $font-size-h4; }
  .tag2 { font-size: $font-size-h3; }
  .tag3 { font-size: $font-size-h2; }
  .tag4 { font-size: $font-size-h1; }

  // RSS
  #rss_feed_subscribe {
    span {
      font-family: $font-family-sans-serif;
      font-weight: normal
    }
  }
}