%blog_common_style {
  @extend %blog_link;

  article {
    margin-bottom: 3em;
  }

  header {
    @extend %blog_header;
  }

  footer {
    p { a:hover, a:focus { color: white; } }
  }

  img { width: 100%; }
}

%blog_header {
  @include adjust-font-size-to($blog-details-font-size);
  line-height: $blog-details-font-size * 1.5;
  margin-bottom: 1em;
}

%blog_link {
  a {
    &:hover, &:focus {
      color: $link-hover-color-alt;
      text-decoration: none;
    }
  }
}

#blog_post {
  @extend %blog_common_style;
}

#post-comment {
  margin-bottom: 3em;
}

#blog_posts_list {
  @extend %blog_common_style;

  .pagination {
    border-top: 1px solid $brand-primary;
    margin-top: 0;
    padding-top: 1em;
    text-align: right;
    width: 100%;

    a, em, span {
      display: inline-block;
      height: 26px;
      text-align: center;
      width: 26px;
    }
    .current {
      font-style: normal;
      color: $link-hover-color;
      background-color: $brand-primary;
      @include border-radius(3px);
    }
  }
}

#comments {
  @extend %blog_link;

  .blog_comment_message {
    border-bottom: 1px solid $gray-lighter;
    margin: 10px 0;
    &:last-of-type {
      border-bottom: 0px;
      margin-bottom: ($font-size-base * 3);
    }
  }

  .blog_comment_author {
    @extend %blog_header;
    margin-bottom: 0;
  }

  .title-with-bar-decoration {
    text-transform: uppercase;
    &:before, &:after { height: 1px; }
  }
}