#bottom-nav-bar-container {
  @include trailer(0, $font-size-menu);

  #main-nav-bar {
    font-family: $font-family-sans-serif-menu;
    text-transform: lowercase;
    @include adjust-font-size-to($font-size-menu);
  }

  .logo {
    background: url(logo/logo.png) no-repeat;
    display: block;
    height: $logo-height;
    text-indent: -9999px;
    width: $logo-width;
  }

  .navbar-brand {
    padding: 10px 15px;
  }

  @media (min-width: $screen-sm) {
    .navbar-nav > li > a {
      padding: 32px 25px;
    }
  }

  @media
  only screen and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (min-device-pixel-ratio: 1.5) {
    .logo {
      background-image: url(logo/logo@2x.png);
      @include background-size($logo-width $logo-height)
    }
  }
}