#footer {
  background-color: $gray-light;
  color: white;
  @include adjust-font-size-to($font-size-footer);

  a {
    color: white;
    text-decoration: underline;
    &:hover, &:focus { color: $link-hover-color; }
  }

  .social-icon {
    @include adjust-font-size-to($icon-font-size);
    &.social-icon-twitter { top: 2px; }
    &.social-icon-googleplus { top: -1px; @include adjust-font-size-to($icon-font-size - 8px); }
  }

  .icon-decima {
    @include adjust-font-size-to($icon-credit-cards-size);
  }
}

#footer-top { @include padding-leader(1, $font-size-footer); }
#footer-bottom { @include leading-border(1px, 0.5, $font-size-footer, solid); }

#footer-stay-in-touch {
  ul { margin-top: 12px; }

  .list-inline > li {
    &:first-child { padding-left: 0; }
    padding-left: 15px;
    padding-right: 0;
  }
}

#footer-copywriting {
  font-family: $font-family-sans-serif-second;
  font-weight: normal;
  @include adjust-font-size-to($font-size-copywriting);
  
  .glyphicon { top: 2px; }
  
  .credit-cards {
    position: absolute;
    right: 15px;
    top: -3px;
    @include opacity(0.5);
    
    i { margin-left: 10px;}
  }
}

// ------------------------------------------------------------------------------------------------------------------------
// Responsive adaptation
// ------------------------------------------------------------------------------------------------------------------------

@media (max-width: $screen-md) {
  #footer-stay-in-touch {
    .list-inline > li { padding-left: 10px; }
  }
  #footer-copywriting { text-align: left; }
}

@media (max-width: $screen-sm) {
  #footer-address,
  #footer-stay-in-touch,
  #footer-copywriting { text-align: center; }  
}