%inquiry_link {
  a {
    &:hover, &:focus {
      color: $link-hover-color-alt;
      text-decoration: none;
    }
  }
}

#inquiries-sidebar {
  @extend %inquiry_link;
  margin: 2.5em 0;
  border: 2px solid $brand-primary;
  padding: 0 1.5em;
  
  ul {
    padding-left: 0;
    list-style: none;
  }
}

#inquiries {
  @extend %inquiry_link;
  margin-bottom: 3em;
}

#privacy_link {
  @include adjust-font-size-to($blog-details-font-size);
  line-height: $blog-details-font-size * 1.5;
}