#leading-features {
  article {
    @media (max-width: $screen-lg) {
      margin-left: auto;
      margin-right: auto;
      width: 60%;
      @include trailer(2, $font-size-base);
      &:last-child { @include trailer(0, $font-size-base); }
    }

    @media (max-width: $screen-xs) {
      width: 100%;
      @include trailer(2, $font-size-base);
      &:last-child { @include trailer(0, $font-size-base); }
    }
  }
}