#meet-the-team {
  .biography-img-overlay {
    display: none;
    @extend %center-absolute-positionned-content;
    ul {
      background-color: white;
      font-size: 45px;
      @include opacity(0.70);
    }
  }

  .biography-social-links { display: none; }

  @media (max-width: $screen-tablet) {
    .biography > div {
      @include trailer(2, $font-size-base);
      &:last-child { @include trailer(0, $font-size-base); }
    }
    .biography-img-overlay { visibility: hidden; }
    .biography-social-links { display: block; }
  }
}