#top-nav-bar {
  font-family: $font-family-sans-serif-alt;
  font-weight: 200;
  letter-spacing: $top-nav-bar-letter-spacing; // Watch out later with embedded element such as the cart /!\

  @include trailer(0, $font-size-alt);
  @include adjust-font-size-to($font-size-alt);

  @media (max-width: ($screen-sm - 1)) {
    .navbar-nav    { float: left; }
    .navbar-nav>li { float: left; }
    .navbar-right  { float: right; }
  }
}