<section id="comments">
  <% if (comments = @post.comments.approved).any? %>
    <h2 class="title-with-bar-decoration"><%= t('title', :scope => 'refinery.blog.posts.show.comments', count: comments.size) %></h2>
    <%= render :partial => "comment", :collection => comments %>
  <% end %>

  <% if Refinery::Blog::Post.comments_allowed? %>

    <aside id="post-comment">
      <h2 class="title-with-bar-decoration"><%= t('add', :scope => 'refinery.blog.posts.show.comments') %></h2>
      <% flash.each do |key, value| %>
        <div id='flash' class="alert alert-<%= key %> fade in">
          <%= displayCloseButton() %>
          <%= value %>
        </div>
      <% end %>

      <%= form_for [refinery, :blog, @comment] do |f| %>
        <%= render "/refinery/admin/error_messages",
                   :object => f.object,
                   :include_object_name => true %>

        <div class="row">
          <div class="col-sm-6 form-group">
            <%= f.label :name %>
            <%= f.text_field :name, class: "form-control" %>
          </div>
          <div class="col-sm-6 form-group">
            <%= f.label :email %>
            <%= f.email_field :email, class: "form-control" %>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 form-group">
            <%= f.label :message %>
            <%= f.text_area :message, :rows => 6, class: "form-control" %>
          </div>
        </div>
        <div class="text-center">
          <%= f.submit t('submit', :scope => 'refinery.blog.posts.show'), class: "btn btn-default" %>
        </div>
      <% end %>
    </aside>
  <% end %>
</section>