<nav id="next_prev_article">
  <div class="row">
    <div class="col-sm-4 text-left">
    <% if @post.next.present? -%>
      <%= link_to render_left_blog_link(@post.next.title).html_safe,
                  refinery.blog_post_path(@post.next),
                  :class => 'next' %>
    <% end -%>
    </div>
    
    <div class="col-sm-4 text-center">
    <%= link_to t('blog_home', :scope => 'refinery.blog.posts.show'),
                refinery.blog_root_path,
                :class => 'home' %>
    </div>
    
    <div class="col-sm-4 text-right">
    <% if @post.prev.present? -%>
      <%= link_to render_right_blog_link(@post.prev.title).html_safe,
                  refinery.blog_post_path(@post.prev),
                  :class => 'prev' %>
    <% end -%>
    </div>
  </div>
</nav>