<%= content_for :title_bar do %>
  <%= render "refinery/shared/title_bar" %>
<% end %>

<%= render "post" %>
<%= render "comments" %>

<%= render "/refinery/blog/shared/body_content_right" %>

<%= content_for :javascripts do %>
  <%= javascript_include_tag "store/page_custom_scripts/blog_show" %>
<% end %>