<%= content_for :title_bar do %>
  <%= render :partial => "refinery/shared/title_bar" %>
<% end %>

<% if !@page.nil? && @page.view_template == "about" %>

  <article id="who-we-are" class="margin-top-bottom">
    <h1 class="title-with-bar-decoration"><%= copywriting('Title - Who we are', { :page => @page, :phrase_type => 'string', :default => t("who_we_are") }) %></h1>
    <div class="row">
      <% (1..2).each do |i| %>
        <div class="col-md-6">
          <%= @page.content_for("whoweare#{i}").html_safe if @page.content_for?("whoweare#{i}") %>
        </div>
      <% end %>
    </div>
  </article>

  <article id="meet-the-team" class="margin-top-bottom">
    <h1 class="title-with-bar-decoration"><%= copywriting('Title - Meet the team', { :page => @page, :phrase_type => 'string', :default => t("meet_the_team") }) %></h1>
    <div class="row biography">
      <% (1..2).each do |i| %>
        <div class="col-md-6">
          <%= @page.content_for("team#{i}").html_safe if @page.content_for?("team#{i}") %>
          <%= render :partial => "refinery/shared/about_social_links", :locals => { :team_index => i } %>
        </div>
      <% end %>
    </div>
  </article>

<% end %>

<%= content_for :javascripts do %>
  <%= javascript_include_tag 'store/page_custom_scripts/about' %>
<% end %>