<%= content_for :carousel do %>
  <%= render :partial => "refinery/banners/banners" %>
<% end %>

<% if !@page.nil? && @page.view_template == "home" %>

  <section id="leading-features" class="clearfix margin-top-bottom">
    <h1 class="title-with-bar-decoration"><%= copywriting('Title - Features', { :page => @page, :phrase_type => 'string', :default => t("features") }) %></h1>
    <div class="row">
      <% (1..3).each do |i| %>
        <article class="col-lg-4 text-center">
          <%= @page.content_for("feature#{i}").html_safe if @page.content_for?("feature#{i}") %>
        </article>
      <% end %>
    </div>
  </section>

  <section id="featurettes" class="margin-top-bottom">
    <h1 class="title-with-bar-decoration"><%= copywriting('Title - Featurettes', { :page => @page, :phrase_type => 'string', :default => t("featurettes") }) %></h1>
    <% (1..3).each do |i| %>
      <article class="row featurette">
        <div class="<%= i % 2 == 0 ? "col-md-5 featurette-img" : "col-md-7 featurette-text text-right" %> col-sm-6"></div>
        <div class="<%= i % 2 == 0 ? "col-md-7 featurette-text" : "col-md-5 featurette-img" %><%= %> col-sm-6"></div>
        <%= @page.content_for("featurette#{i}").html_safe if @page.content_for?("featurette#{i}") %>
      </article>
      <hr class="featurette-divider <%= i == 3 ? "hidden" : "" %>">
    <% end %>

  </section>

<% end %>

<%= content_for :javascripts do %>
  <%= javascript_include_tag 'store/page_custom_scripts/index' %>
<% end %>