<%= content_for :title_bar do %>
  <%= render :partial => "refinery/shared/title_bar" %>
<% end %>

<section id="<%= title = @page.title.parameterize %>" class="show">
  <%= raw @page.content_for("body") %>
</section>

<%= content_for :javascripts do %>
  <%= javascript_include_tag "store/page_custom_scripts/#{title.gsub('-', '_')}" %>
<% end %>