production:
  adapter: mysql2
  encoding: utf8
  database: <%= mysql_database %>
  pool: 5
  username: <%= mysql_user %>
  password: <%= mysql_user_password %>
  socket: /var/run/mysqld/mysqld.sock

<%#= 
['/opt/local/var/run/mysql5/mysqld.sock',
 '/opt/local/var/run/mysqld/mysqld.sock',
 '/var/run/mysqld/mysqld.sock',
 '/tmp/mysql.sock'].select { |f| File.exist? f }.first %>