// ------------------------------------------------------------------------------------------------------------------------
// Variables
// ------------------------------------------------------------------------------------------------------------------------

// Scaffolding variables
$link-hover-color-alt: #FFCD49;
$btn-primary-hover-color: $link-hover-color-alt;

// Typography variables
$font-family-sans-serif-alt:     "OpenSansLight", "Helvetica Neue", Arial, sans-serif;
$font-family-sans-serif-menu:    "Blanch", "Helvetica Neue", Arial, sans-serif;
$font-family-sans-serif-title:   "Quicksand", "Helvetica Neue", Arial, sans-serif;
$font-family-icon:               "Decima";

// Font sizes
$font-size-alt:         13px;
$font-size-menu:        24px;
$font-size-button:      14px;
$font-size-footer:      14px;
$font-size-details:     12px;
$font-size-copywriting: $font-size-details;

// Compass Vertical Rhythm Settings
$base-font-size:                  $font-size-base;       // Sets the base font size
$base-line-height:                $line-height-computed; // Sets the base line height
$grid-background-baseline-height: $base-line-height;
$show-baseline-grid-backgrounds:  false;

// Top nav bar variables #top-nav-bar
$top-nav-bar-letter-spacing: 1px;

// Bottom nav bar container variables #bottom-nav-bar-container
$logo-height: 68px;
$logo-width: 120px;

$input-submit-bar-bg-color: $navbar-inverse-bg;
$input-submit-bar-bg-color-focus: $link-hover-color-alt;
$input-submit-bar-input-color: white;

// Carousel
$arrow-size: 25px;
$carousel-primary-color: $brand-primary;
$carousel_h1_size: floor(($font-size-base * 3.1));
$carousel_h2_size: floor(($font-size-base * 2.6));

// Title bar variables
$title-bar-height: 89px; // Same height as #bottom-nav-bar-container
$title-bar-h1-size: $carousel_h2_size;

// Blog
$blog-details-font-size: $font-size-details;
$blog-h2-top-margin: 48px;

// Footer variables #footer
$icon-spinning-timing: 20s;
$icon-font-size: 43px;
$icon-credit-cards-size: 35px;

// ------------------------------------------------------------------------------------------------------------------------
// Mixins
// ------------------------------------------------------------------------------------------------------------------------

// Mixin to update placeholder style
@mixin placeholder {
  &::-webkit-input-placeholder { @content }
  &:-moz-placeholder           { @content }
  &::-moz-placeholder          { @content }
  &:-ms-input-placeholder      { @content }
}

// Mixin to update every input-submit-bar (search bar, newsletter bar)
@mixin input-submit-bar-base($radius-side: right) {
  background-color: $input-submit-bar-bg-color;
  color: $input-submit-bar-input-color;
  @if ($radius-side == right) { @include border-right-radius(0); }
  @else if ($radius-side == left) { @include border-left-radius(0); }
  @include box-shadow(none);
  @include transition(background-color 0.2s ease-in-out, border-color 0.2s ease-in-out);
}

// Mixin that style the navigation arrow in the carousel
@mixin navigation-arrow($side: left) {
  .icon-decima-large-arrow-#{$side} {
    display: inline-block;
    position: absolute;
    #{$side}: 50%;
    top: 50%;
    z-index: 5;
    @include adjust-font-size-to($arrow-size);
  }
}

// ------------------------------------------------------------------------------------------------------------------------
// Animations
// ------------------------------------------------------------------------------------------------------------------------

// Spinning animation
@-moz-keyframes    spin { 100% {    -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes         spin { 100% {         transform: rotate(360deg); } }

// ------------------------------------------------------------------------------------------------------------------------
// Placeholders
// ------------------------------------------------------------------------------------------------------------------------

%input-submit-bar-style {
  position: relative;

  .form-control {
    border: 2px solid $input-submit-bar-bg-color;
    position: absolute;
    right: 40px;
    top: 0;
    width: 200px;

    @include input-submit-bar-base();
    @include placeholder { color: $input-submit-bar-input-color; }
    &:focus { @extend %search-bar-focus-style; }
  }
  .btn-submit { @include input-submit-bar-base($radius-side: left); }
  .btn-submit-focus { @extend %search-bar-focus-style; }
}

%search-bar-focus-style {
  background-color: $input-submit-bar-bg-color-focus;
  border-color: $input-submit-bar-bg-color-focus;
}

%arrow-right {
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 3px 0 3px 3px;
  border-color: transparent transparent transparent $link-hover-color;
}

%center-absolute-positionned-content {
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  top: 0;    
}