// Mixin to create the font-face entry
@mixin create-font-face($font-name, $font-file, $font-weight, $font-style) {
  @include font-face($font-name,
    font-files("store/"+$font-file+".woff",
               "store/"+$font-file+".ttf",
               "store/"+$font-file+".svg#"+$font-name),
               "store/"+$font-file+".eot", $font-weight, $font-style);
}

@include create-font-face($font-name: "Blanch",       $font-file: "blanch_caps",         $font-weight: normal, $font-style: normal);
@include create-font-face($font-name: "JosefinSans",  $font-file: "josefinsans_bold",    $font-weight: bold,   $font-style: normal);
@include create-font-face($font-name: "JosefinSans",  $font-file: "josefinsans_regular", $font-weight: normal, $font-style: normal);
@include create-font-face($font-name: "OpenSans",     $font-file: "open_sans_bold",      $font-weight: bold,   $font-style: normal);
@include create-font-face($font-name: "OpenSans",     $font-file: "open_sans_light",     $font-weight: 200,    $font-style: normal);
@include create-font-face($font-name: "OpenSans",     $font-file: "open_sans_regular",   $font-weight: normal, $font-style: normal);
@include create-font-face($font-name: "Quicksand",    $font-file: "quicksand_regular",   $font-weight: normal, $font-style: normal);
@include create-font-face($font-name: "SocialIcons",  $font-file: "custom_icons",        $font-weight: normal, $font-style: normal);
@include create-font-face($font-name: "Decima",       $font-file: "decima",              $font-weight: normal, $font-style: normal);

// ------------------------------------------------------------------------------------------------------------------------
// Icons
// ------------------------------------------------------------------------------------------------------------------------

.social-icon {
  display: inline-block;
  font-family: 'SocialIcons';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  position: relative;
  top: 1px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.social-icon-linkedin:before   { content: '\e800'; }
.social-icon-facebook:before   { content: '\e801'; }
.social-icon-twitter:before    { content: '\e802'; }
.social-icon-instagram:before  { content: '\e803'; }
.social-icon-googleplus:before { content: '\e804'; }
.social-icon-pinterest:before  { content: '\e805'; }
.social-icon-rss:before        { content: '\e806'; }

.icon-decima {
	font-family: 'Decima';
	font-style: normal;
	text-transform: none;
	font-variant: normal;
	font-weight: normal;
	line-height: 1;
	speak: none;
	-webkit-font-smoothing: antialiased;
}
.icon-decima-large-arrow-left:before    { content: "\e000"; }
.icon-decima-large-arrow-right:before   { content: "\e001"; }
.icon-decima-small-arrow-left:before    { content: "\e002"; }
.icon-decima-small-arrow-right:before   { content: "\e003"; }
.icon-decima-x-large:before             { content: "\e004"; }
.icon-decima-x-small:before             { content: "\e005"; }
.icon-decima-shopping-cart:before       { content: "\e006"; }
.icon-decima-payment-visa:before        { content: "\e007"; }
.icon-decima-payment-master-card:before { content: "\e008"; }
.icon-decima-payment-paypal:before      { content: "\e009"; }
.icon-decima-payment-amex:before        { content: "\e00a"; }
.icon-decima-small-cart-wishlist:before { content: "\e006"; }