$icons: sprite-map("store/icons/*.png");

.icn {
  background: $icons;
  display: inline-block;
}

@each $i in sprite_names($icons) {
  .icn-#{$i} {
    background-position: sprite-position($icons, $i);
    @include sprite-dimensions($icons, $i);
  } 
}