// Establishes baseline with Compass.
@include establish-baseline;

body { @include baseline-grid-background; }
a { @include transition(all 0.2s ease-in-out); }
a.light-bg:hover { color: $link-hover-color-alt; }

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  text-transform: uppercase;
  letter-spacing: 1px;
}

// ------------------------------------------------------------------------------------------------------------------------
// Fonts
// ------------------------------------------------------------------------------------------------------------------------

.glyphicon { top: 3px; }

// ------------------------------------------------------------------------------------------------------------------------
// Buttons
// ------------------------------------------------------------------------------------------------------------------------

.btn {
  @include transition(all 0.2s ease-in-out);
  font-family: $font-family-sans-serif-second;
  text-transform: uppercase;
  letter-spacing: 1px;
  &:hover, &:focus {
    color: white;
  }
}

.btn-default {
  color: white;
  border-width: 2px;
  @include adjust-font-size-to($font-size-button);
  &:hover, &:focus {
    background-color: $btn-primary-hover-color;
    border-color: darken($btn-primary-hover-color, 5%);
  }
}

.btn-primary {
  border-width: 2px;
  @include adjust-font-size-to($font-size-button);
  &:hover, &:focus {
    background-color: $btn-primary-hover-color;
    border-color: darken($btn-primary-hover-color, 5%);
  }
}

// ------------------------------------------------------------------------------------------------------------------------
// Common classes between pages
// ------------------------------------------------------------------------------------------------------------------------

// Hide the content of the page while jQuery is running
//#wrapper { display: none; }

// Set top and bottom margin for section and article
.margin-top-bottom {
  @include leader(1, $font-size-base);
  @include trailer(2, $font-size-base);
}

// Set h tags style
.title-with-bar-decoration {
  color: $brand-primary;
  margin-bottom: 24px;
  overflow: hidden;
  text-align: center;

  &:before, &:after {
    background-color: $brand-primary;
    content: "";
    display: inline-block;
    height: 2px;
    position: relative;
    vertical-align: middle;
    width: 50%;

    @media (max-width: $screen-sm) { background-color: white; }
  }

  &:before { right: 0.5em; margin-left: -50%; }
  &:after { left: 0.5em; margin-right: -50%; }
}

h2 { text-transform: capitalize; }

#next_prev_article {
  background-color: $link-hover-color;
  margin-top: ($font-size-base * 1.5);
  margin-bottom: ($font-size-base * 3);
  padding: $font-size-base;

  a {
    color: $text-color;
    font-family: $font-family-sans-serif-menu;
    text-transform: lowercase;
    @include adjust-font-size-to($font-size-menu);

    &:hover, &:focus {
      color: $link-hover-color-alt;
      text-decoration: none;
    }
  }

  .icon-decima {
    font-size: 16px;
    vertical-align: middle;
  }
}

// Define the close button alignement
.close {
  font-size: $font-size-base * 1.5;
  line-height: $font-size-base * 1;
}

// Style for the 'show' template
.show {
  margin: 2em 0 3em 0;
  img { width: 100%; }
}

// ------------------------------------------------------------------------------------------------------------------------
// Form
// ------------------------------------------------------------------------------------------------------------------------
.form-control:focus {
  border-color: $brand-primary;
  @include box-shadow(none);  
}