<% if defined?(team_index) %>

  <% fb_link = copywriting("Facebook page - Team#{team_index}", { :page => @page, :phrase_type => 'string', :default => t("social_fb_link") }) %>
  <% tw_link = copywriting("Twitter page - Team#{team_index}",  { :page => @page, :phrase_type => 'string', :default => t("social_tw_link") }) %>
  <% li_link = copywriting("LinkedIn page - Team#{team_index}", { :page => @page, :phrase_type => 'string', :default => t("social_li_link") }) %>

  <% social_links = [[fb_link, "facebook"],
                     [tw_link, "twitter" ],
                     [li_link, "linkedin"]] %>

  <div class="biography-img-overlay">
    <ul class="list-inline text-center">
      <%= render_social_links(social_links) %>
    </ul>
  </div>

  <div class="biography-social-links">
    <ul class="list-inline text-center">
      <%= render_social_links(social_links) %>
    </ul>
  </div>

<% end %>