<div id="title-bar">
  <div class="container">
    <h1 class="pull-left"><%= @page.title %></h1>

    <ul id="breadcrumb" class="list-inline pull-right">
      <li><%= link_to t("home"), spree.root_url, :title => render_link_title(t("page_home")) %></li>
      <% if defined?(@category) %>
        <li><%= link_to t("blog"), refinery.blog_root_url, :title => render_link_title(t("page_blog")) %></li>
        <li><%= ("#{@category.title} #{t('category')}").titleize %></li>
      <% elsif defined?(@tag_name) %>
        <li><%= link_to t("blog"), refinery.blog_root_url, :title => render_link_title(t("page_blog")) %></li>
        <li><%= ("#{@tag_name} #{t("tag")}").titleize %></li>
      <% elsif defined?(@date_title) %>
        <li><%= link_to t("blog"), refinery.blog_root_url, :title => render_link_title(t("page_blog")) %></li>
        <li><%= ("#{@date_title} #{t("archives")}").titleize %></li>
      <% elsif defined?(@post) %>
        <li><%= link_to t("blog"), refinery.blog_root_url, :title => render_link_title(t("page_blog")) %></li>
        <li><%= @post.title.titleize %></li>
      <% else %>
        <% [@page.ancestors, @page].flatten.collect do |p| %>
          <li><%= p.title.titleize %><%# p.id == @page.id %></li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>