<% content_for :sidebar do %>
  <div id="blog-sidebar">
    <%= yield(:side_body_prepend) %>
    <%= render "/refinery/blog/shared/categories" if defined?(@categories) %>
    <%= render "/refinery/blog/shared/posts" if defined?(@posts) %>
    <%= render "/refinery/blog/shared/tags" if defined?(@tags) %>
    <%= render "/refinery/blog/shared/rss_feed" %>
    <%= blog_archive_widget %>
    <%= yield(:side_body_append) %>
  </div>
<% end %>

<%= content_for :javascripts do %>
  <%= javascript_include_tag 'store/page_custom_scripts/blog_sidebar' %>
<% end %>