<%= content_for :title_bar do %>
  <%= render :partial => "refinery/shared/title_bar" %>
<% end %>

<section id="blog_posts_list">
<% if @posts.any? %>
  <%= render :partial => "/refinery/blog/shared/post", :collection => @posts %>
  <%= will_paginate @posts, previous_label: "<span class='sr-only'>prev</span>", next_label: "<span class='sr-only'>next</span>" %>
<% else %>
  <p><%= t('.no_blog_articles_yet') %></p>
<% end %>
</section>

<%= render '/refinery/blog/shared/body_content_right' %>

<%= content_for :javascripts do %>
  <%= javascript_include_tag 'store/page_custom_scripts/blog' %>
<% end %>