<div id="footer-address" class="col-sm-4 col-xs-12">
  <h4><%= ::Spree::Config[:site_name] %></h4>
  <address>
    <%= t("fyb_address_line_one") %><br />
    <%= t("fyb_address_line_two") %><br />
    <span class="glyphicon glyphicon-phone"></span>
    <%= t("fyb_phone") %><br />
    <span class="glyphicon glyphicon-envelope"></span>
    <%= link_to(t("fyb_email"), "mailto:#{t("fyb_email")}", :title => t("fyb_say_hello")) %>
  </address>
</div>