<div id="footer-logo" class="col-sm-4 hidden-xs">
  <div class="icon-container">
    <%= image_tag "store/logo/icon.png", :class => "img-responsive",
      :srcset => "#{asset_path('store/logo/icon@2x.png')} 2x,
                  #{asset_path('store/logo/icon.png')}    1x" %>
  </div>
</div>