<div id="footer-copywriting" class="col-md-12 text-center">
  <p>
    <%= content_tag :span, "", :class => "glyphicon glyphicon-copyright-mark" %>
    <%= t("copywriting") %>
  </p>
  <span class="credit-cards hidden-xs">
    <%= content_tag :i, "", :class => "icon-decima icon-decima-payment-visa" %>
    <%= content_tag :i, "", :class => "icon-decima icon-decima-payment-master-card" %>
    <%= content_tag :i, "", :class => "icon-decima icon-decima-payment-paypal" %>
  </span>
</div>