<div id="footer-stay-in-touch" class="col-sm-4 col-xs-12 text-right">
  <h4>Stay in touch</h4>
  <%= form_tag "#", :method => :get, :id => "newsletter-bar", :class => "visible-lg" do %>
    <%= email_field_tag :email, params[:email], :placeholder => Spree.t(:email), :class => "form-control" %>  
    <%= content_tag :button, :type => "submit", :class => "btn btn-submit" do  %>
      <%= content_tag :span, "", :class => "glyphicon glyphicon-send" %>
    <% end %>
  <% end %>
  <ul class="list-inline">
    <%= render_social_network_items([ "facebook", "twitter", "googleplus", "pinterest", "instagram" ]) %>
  </ul>  
</div>