<%= content_for :title_bar do %>
  <%= render :partial => "refinery/shared/title_bar" %>
  <%= render :partial => "refinery/shared/google_map" %>
<% end %>

<section id='inquiries'>
  <h1 class="title-with-bar-decoration"><%= @page.title %></h1>
  <%= raw @page.content_for(Refinery::Pages.default_parts.first.to_sym) if Refinery::Pages.default_parts.any? %>

  <% flash.each do |key, value| %>
    <div id='flash' class="alert alert-<%= key %> fade in">
      <%= displayCloseButton() %>
      <%= value %>
    </div>
  <% end %>

  <%= form_for [refinery, :inquiries, @inquiry] do |f| %>
    <%= render :partial => "/refinery/admin/error_messages",
               :locals => {
                 :object => @inquiry,
                 :include_object_name => true
               } %>

    <div class="row">
      <div class="col-sm-6 form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class: "form-control",
          :placeholder => (t('name', :scope => 'activerecord.attributes.refinery/inquiries/inquiry') if Refinery::Inquiries.show_placeholders) %>
      </div>
      <div class="col-sm-6 form-group">
        <%= f.label :email %>
        <%= f.email_field :email, class: "form-control",
          :placeholder => (t('email', :scope => 'activerecord.attributes.refinery/inquiries/inquiry') if Refinery::Inquiries.show_placeholders) %>
      </div>
      <%# removed phone field %>
    </div>

    <div class="row">
      <div class="col-sm-12 form-group">
        <%= f.label :message %>
        <%= f.text_area :message, :rows => 8, class: "form-control", 
          :placeholder => (t('message', :scope => 'activerecord.attributes.refinery/inquiries/inquiry') if Refinery::Inquiries.show_placeholders) %>
      </div>
    </div>

    <div class="text-center">
      <%= f.submit t('.send'), class: "btn btn-default" %>
      <div><%= link_to t('.privacy_policy'), "/pages/privacy-policy", :id => "privacy_link", target: "_blank" if Refinery::Inquiries.show_contact_privacy_link %></div>
    </div>
  <% end %>
</section>

<%= render '/refinery/inquiries/inquiries/body_content_right' %>

<%= content_for :javascripts do %>
  <%= javascript_include_tag 'https://maps.google.com/maps/api/js?sensor=false' %>
  <%= javascript_include_tag 'store/page_custom_scripts/inquiry' %>
<% end %>